backend/src/main/kotlin/com/ort/dbflute/** linguist-generated
backend/mydbflute/**                       linguist-generated
backend/dbflute_howlingwolfdb/**           linguist-generated
backend/bin/**                             linguist-generated
